<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/app}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
</head>

<body>
    <div layout:fragment="navbar">
        <navbar-search></navbar-search>
    </div>
    <div layout:fragment="content">
        <div ref="recommendedVideos" hidden th:text="${recommendedVideosJSON}"></div>
        <div ref="subscriptionChannels" hidden th:text="${subscriptionChannelsJSON}"></div>
        <div ref="user" hidden th:text="${userJSON}"></div>
        <guide-scaffold v-if="subscriptionChannels && user" :channels.sync="subscriptionChannels"
            :subscription-count="user.subscriptionCount" class="h-100">
            <template #content>
                <v-container>
                    <h3>あなたへのおすすめ</h3>
                    <div class="d-grid grid-columns-4">
                        <video-card v-for="video in recommendedVideos" :key="video.id" :video="video" class="ma-3">
                        </video-card>
                    </div>
                </v-container>
            </template>
        </guide-scaffold>
    </div>
    <div layout:fragment="scripts">
        <script th:src="@{/js/index.js}"></script>
    </div>
</body>

</html>