<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/app}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
</head>
<body>
    <div layout:fragment="navbar">
        <navbar-index></navbar-search>
    </div>
    <div layout:fragment="content">
        <div class="red">
            INDEX
        </div>
    </div>
    <div layout:fragment="scripts">
        <script th:src="@{/js/index.js}"></script>
    </div>
</body>
</html>