<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layouts/app}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTubeにログイン</title>
</head>

<body>
    <v-container layout:fragment="content">
        <v-card>
            <v-card-title class="primary white--text">YouTubeにログイン</v-card-title>
            <v-card-text>
                <v-form ref="form" th:action="@{/login}" method="post">
                    <v-text-field color="success" v-model="username" name="username" :rules="usernameRules" label="ユーザID"></v-text-field>
                    <v-text-field color="success" v-model="password" name="password" :rules="passwordRules" autocomplete="current-password" type="password" label="パスワード">
                    </v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn color="success" text class="mx-auto" @click="login">ログイン</v-btn>
            </v-card-actions>
        </v-card>
        <div class="text-center mt-3">
            <v-btn color="success" :href="$routes.register.base" text>アカウントをお持ちでない方</v-btn>
        </div>
    </v-container>
    <div layout:fragment="scripts">
        <script th:src="@{/js/login.js}"></script>
    </div>
</body>

</html>