[v-cloak] {
    display: none;
}

.color-inherit {
    color: inherit;
}

.cursor-pointer {
    cursor: pointer;
}

.d-grid {
    display: grid;
    ;
}

.grid-columns-4 {
    grid-template-columns: repeat(4, 25%);
}

.grid-columns-5 {
    grid-template-columns: repeat(5, 20%);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.word-break-all {
    word-break: break-all;
}